<!DOCTYPE html>
<html>
  <head> <title>5 Filmes</title>
    <style> body { background-color: #f2f2f2; font-family: Arial, sans-serif; margin: 0; padding: 0; } h1 { color: #333; font-size: 24px; margin-top: 20px; text-align: center; } table { background-color: #fff; border-collapse: collapse; margin: 20px auto; width: 80%; } th { background-color: #333; color: #fff; font-size: 18px; padding: 10px; text-align: left; } td { border-bottom: 1px solid #ccc; font-size: 16px; padding: 10px; text-align: left; } </style>
  </head>
  <body>
    <h1>5 Filmes</h1>
    <table>
    <tr> <th>Título</th> <th>Data de Publicação</th>
    </tr> <tr> <td>O Poderoso Chefão</td>
    <td>1972</td>
  </tr> <tr>
    <td>O Mágico de Oz</td>
    <td>1939</td>
  </tr>
  <tr> <td>Star Wars - Episódio IV - Uma Nova Esperança</td>
    <td>1977</td> </tr>
    <tr> <td>Forrest Gump - O Contador de Histórias</td>
    <td>1994</td>
  </tr> <tr>
    <td>Titanic</td> <td>1997</td>
  </tr> </table>
</body> </html>